{%extends 'layout.njk'%}

{%block head%}
    <title>Rocketseat</title>
{%endblock%}

{%block content%}
<section class="courses">
    <div class="courses-content">
        <div class="courses">
            <div class="course" id="{{item.id}}">
                <img src="/assets/{{item.logo}}.svg" alt="Starter">
                <h2>{{item.name}}</h2>
                <h3>{{item.about}}</h3>
                <p>{{item.modules}}</p>
                <p>{{item.price}}</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}