<!DOCTYPE html>
<html>

    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/434d3b53ec.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/styles.css">
        <title>Rocketseat</title>
    </head>

    <body>
        <header>
            <div class="menu">
                <div class="menu-options"></div>
                <img src="/assets/logo-rocketseat.svg" alt="Logo Rocketseat" id="logo-rocketseat">
                <a href="/">ABOUT</a>
                <a href="/content">COURSES</a>
                <a href="https://discordapp.com/invite/gCRAFhc">COMMUNITY</a>
                <a href="https://blog.rocketseat.com.br/" target="_blank">BLOG</a>
                <div class="media-contact">
                    <i class="fa fa-facebook-square fa-2x"></i>
                    <i class="fa fa-instagram fa-2x"></i>
                    <i class="fa fa-twitter-square fa-2x"></i>
                    <i class="fa fa-youtube-square fa-2x"></i>
                    <a href="" id="login">Login</a>
                </div>
            </div>
        </header>

        {%block content%}{%endblock%}

    </body>
</html>