{%extends 'layout.njk'%}

{%block content%}

<body>
    <div class="error-content">
        <h2>Olá!</h2>

        <p>Infelizmente não encontramos nenhum conteúdo nesta página! :(</p>
    </div>
</body>

{%endblock%}