{%extends 'layout.njk'%}

{%block content%}

<body>
    <div>
        <h2>Teste!</h2>

        <p>Olá, infelizmente não encontramos nenhum conteúdo nesta página! :(</p>
    </div>
</body>

{%endblock%}